body {
  font-size: 14px;
  font-family: serif;
  padding-bottom: 4em;
  margin: 0 auto;
  overflow: auto;
  width: 800px;
  background-image: url('/imgs/brick.jpg');
}

p {
	color: white;
	background-color: black;
	padding: 15px;
}

* h1, h2, h3, lh, li, a {
	float: left;
	color: white;
	background-color: red;
	padding: 10px;
	border-color: black;
	border-style: solid;
	border-width: .5px
}

a {
	text-decoration: none;
}

li {
	background-color: gray;
}


#site-title-container {
	background-color: red;
}

#site-title-container h1,h2,h3{
	color: white;
	border-style: solid;
	border-color: black;
	border-width: 5px;
}

header {
	float: left;
}

nav {
	float: right;
}

nav ul {
	display: block;
}

nav li {
	display: inline;
	text-decoration: none;
}

main {
	float: left;
	clear: both;
}

/* **************  FORMS ************  */

form {
	clear: both;
	display: block;
}

label {
	margin: 10px;
	padding: 5px	;
	color: white;
	background-color: black
}

form input {
	color: white;
	background-color: black;
	height: 40px;
	margin: 10px;
}

form#list-item {
	border-style: solid;
	border-color: black;
	border-width: .5px;
	padding: 10px;
}

form input {
	margin-top: 10px;
	pading: 5px;
	display: block;
}

form select {
	display: block;
}

form#list-item label.name_title, label.description, label.condition {
	display: none;
}

form#list-item label.price, label.start, label.end {
	display: inline;
}

form#list-item textarea, .name_title {
	min-width: 50em;
}

/* **************  LOGIN ************  */

.error-item {
	color: red;
}

// Registration/Login/out fields/buttons
.reg_log {
	display: block;
}

label.reg_log {
	display: none;
}

/* ************* TABLES ****************** */

table {
	width: 100%;
}

table th {
	color: white;
	background-color: red;	
	border-style: solid;
	border-color: black;
	border-width: .5px;
	padding: 5px;
}

table td {
	color: white;
	background-color: black;
	border-style: solid;
	border-color: gray;
	border-width: .5px;
	padding: 5px;
}

table a {
	color: white;
	background-color: black;
	text-decoration: none;
	border-style: none;
	border-color: none;
}


/* ************* RELATED ************* */
#related-keywords ul {
	padding: 0px;
	display: block;
}

#related-keywords lh, li {
	display: inline;
	text-decoration: none;
}