<% if current_user == @profile_user %>
	<h3>Welcome, <%= current_user.name %>!</h3>
<% else %>
	  <h3>Welcome to <%= @profile_user.name %>'s Profile!</h3>
<% end %>

<div id="user-joke-tags-container">
</div>

