<% if current_user == @profile_user %>
	<h3>Welcome, <%= current_user.name %>!</h3>
<% else %>
	  <h3>Welcome to <%= @profile_user.name %>'s Profile!</h3>
<% end %>

<div id="user-joke-tags-container">
  <%= erb :'jokes/_index', locals: { max_joke_title_length: @max_joke_title_length, title: "Favorite Jokes" } %>
</div>

