<section id="joke-index">
<table>
	<thead>
		<tr>
			<th colspan="2"><%= title %></th>
		</tr>
	</thead>
	<tbody>
		<% if @jokes %>
			<% @jokes.each_with_index do |joke,i| %>
				<% snippet = joke.content[0..max_joke_title_length] %>
				<tr>
					<td><%= i %>.</td><td><a href="/jokes/<%= joke.id %>"><%= snippet %> ... </a></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</section>