<section>
  <% if @joke %>
    <p><%= "#{@joke.content}" %></p>
    <% if current_user %>
      <a href='/favorite' joke=<%= "#{@joke.id}" %> %>Favorite this joke.</a>
    <% end %>
  <% end %>
</section>
