<label for="email" class="reg_log">E-Mail:</label>
<input class="reg_log" id="email" placeholder="E-mail" name="user[email]" type="text" value="<%= @user.email %>">

<label for="password" class="reg_log">Password:</label>
<input class="reg_log" id="password" placeholder="Password" name="user[password]" type="password" value="">
