<h1>Index</h1>

<%= erb :'_errors' %>

<form method="post" action="/jokes">

  <label>Keywords: (comma-separated)</label>
  <input name="keywords" placeholder="required">

  <label>Categories: (comma-separated)</label>
  <input name="categories" placeholder="optional">

  <input type="submit" name="submit" text="Find Jokes">

</form>

