<%= erb :'_errors' %>

<form method="post" action="/jokes">

  <label>Keywords:</label>
  <input name="keywords" value='<%= @keywords %>' placeholder="required">

  <label>Category</label>
  <input name="categories" value='<%= @categories %>' placeholder="optional">

  <input type="submit" name="submit" text="Find Jokes">

</form>

<%= erb :'jokes/_show', locals: { joke: @joke } %>

